{% extends 'base.html' %}
{% block body %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">회원가입</div>
      <div class="card-body">
        <form action="{% url 'signup' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-label-group">
                  <input name="name" type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                  <label for="firstName">이름 입력</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
              <label for="inputEmail">이메일 입력</label>
            </div>
          </div>
          <div class="form-group">
              <div class="form-label-group">
                    <input name="phone" type="text" id="phone" class="form-control" placeholder="phone" required="required" autofocus="autofocus">
                    <label for="phone">핸드폰 번호 입력</label>
              </div>
            </div>
          <div class="input-group mb-3">
            <select name="gender" class="custom-select" id="inputGroupSelect01">
              <option value="남">남</option>
              <option value="여">여</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <select name="department" class="custom-select" id="inputGroupSelect01">
              <option value="문과대학1">문과대학</option>
              <option value="이과대학2">이과대학</option>
              <option value="불교대학3">불교대학</option>
              <option value="법과대학4">법과대학</option>
              <option value="사회과학대학5">사회과학대학</option>
              <option value="경찰사법대학6">경찰사법대학</option>
              <option value="경영대학7">경영대학</option>
              <option value="바이오시스템대학8">바이오시스템대학</option>
              <option value="공과대학9">공과대학</option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                  <label for="inputPassword">비밀번호 입력</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="password2" type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                  <label for="confirmPassword">비밀번호 확인</label>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">등록</button>
        </form>
        <div class="text-center">
          <a class="d-block small" href="/findpw">비밀번호 찾기</a>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}