{% extends 'base.html' %}
{% block body %}

<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{%url 'main' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>메인</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'mypage' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>마이페이지</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'tables' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>전체 투표 항목 조회</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'vote' %}">
        <i class="fas fa-fw fa-table"></i>
        <span>투표생성</span></a>
    </li>
  </ul>

  <div id="content-wrapper" style="text-align:center">
    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>투표 조회
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>투표 제목</th>
                <th>구분</th>
                <th>투표 작성자</th>
                <th>찬성</th>
                <th>반대</th>
                <th>시작</th>
                <th>종료</th>
                <th>투표 현황</th>
              </tr>
            </thead>
            <tbody>
              {% for poll in polls %}
                <div class="list-group">
                  <tr>
                    <td>
                    <a href="{% url 'vote_specifications' id=poll.id %}" class="list-group-item list-group-item-action">{{ poll.title }}</a>
                    </td>
                    <td>{{ poll.category }}</td>
                    <td>{{ poll.author.name }}</td>
                    <td>{{ poll.pros }}</td>
                    <td>{{ poll.cons }}</td>
                    <td>{{ poll.created_at }}</td>
                    <td>{{ poll.valid_until }}</td>
                    <td style="text-align : center; vertical-align : middle;">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                          70%
                        </div>
                      </div>
                    </td>
                    <td>0921/1022</td>
                    </td>
                  </tr>
                </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
  </div>
{% endblock %}