{% extends 'base.html' %}
{% block body %}
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{%url 'main' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>메인</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'mypage' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>마이페이지</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'tables' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>전체 투표 항목 조회</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'vote' %}">
        <i class="fas fa-fw fa-table"></i>
        <span>투표생성</span></a>
    </li>
  </ul>

  <div id="content-wrapper" style="margin-left : 100px; margin-right : 100px;">
    <h1><b>투표 상세 내용</b></h1><br>
    <h2>안건 : 신공화장실 청결 문제 해결</h2>
    <p>상세 내용 : 현재 너무 신공 화장실이 더러워서 화장실 가기가 꺼려진다. 리모델링이 필요하다.</p>
    <p style="margin-top:45px;">그러기 위해서 우리는 ....</p>

    <div style="text-align : center;">
      <input type="button" value=" 찬성 ">&nbsp;&nbsp;&nbsp;
      <input type="button" value=" 반대 ">
    </div>

    <form action="{% url 'comment' %}" method="POST">
      {% csrf_token %}
      <div style="border: 5px ridge grey;">
        <h3>Comments</h3>
        <b>입력 : </b><textarea name="content" cols="70" rows="3"></textarea>
        <input type="submit" value=" 확인 ">
      </div>
    </form>
    {% if comments %}
      {% for comment in comments %}
      <div style="border: 5px ridge grey;">
        <div>
          {{ comment.title }}
        </div>
        <div>
          {{ comment.content }}
        </div>
        <div>
          {{ comment.created_at }}
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}